<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.commontime.cordova.secure-settings"
        version="1.0.1">

  <name>Secure Settings</name>
  <description>CommonTime secure settings plugin.</description>

  <engines>
    <engine name="cordova" version=">=4.1.1"/>
  </engines>

  <js-module src="www/securesettings.js" name="SecureSettings">
    <clobbers target="plugins.securesettings" />
  </js-module>

  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="SecureSettings">
        <param name="onload" value="true" />
        <param name="ios-package" value="CTSecureSettingsPlugin"/>
      </feature>
    </config-file>

    <header-file src="src/ios/CTSecureSettingsPlugin.h"/>
    <source-file src="src/ios/CTSecureSettingsPlugin.m"/>

    <header-file src="src/ios/UICKeyChainStore.h"/>
    <source-file src="src/ios/UICKeyChainStore.m"/>

    <framework src="Security.framewwork"/>
  </platform>

  <platform name="wp8">
    <config-file target="config.xml" parent="/*">
      <feature name="SecureSettings">
        <param name="wp-package" value="SecureSettingsPlugin" />
      </feature>
    </config-file>

    <source-file src="src/wp8/SecureSettingsPlugin.cs"/>
	<framework src="src/wp8/Newtonsoft.Json.dll" custom="true" />	
  </platform>
</plugin>
